In [ ]:
name = "Alice"
for item in name:
    print(item)

A
l
i
c
e

In [ ]:
for i in range(1, 3):  # iterate over numbers 1 to 10
    for j in range(1, 3):  # iterate over numbers 1 to 10 for multiplication
        print(f"{i} * {j} = {i*j}")  # print the multiplication table entry
    print()  # add a blank line after each multiplication table

1 * 1 = 1
1 * 2 = 2

2 * 1 = 2
2 * 2 = 4

In [ ]:
for i in range(1, 5):  # iterate over numbers 1 to 10
    for j in range(1, 11):  # iterate over numbers 1 to 3 for multiplication
        print(f"{i} * {j} = {i*j}")  # print the multiplication table entry
    print()  # add a blank line after each set of multiples

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [ ]:
test = [3,32,22,55,34,55]
x = test.sort()
# print(test)
temp = []
# for i in range(len(test)):
while i < len(test):
    print(test[i])
    if test[i] not in temp:
        temp.append(test[i])
        print("False")
        # break
    else:
        print("True")
        break
print(temp)
    # if test[1]

55
False
55
True
[55]

In [ ]:
# def has_duplicates(lst):
#     return len(lst) != len(set(lst))

# # Example usage:
# my_list = [1, 2, 3, 4, 5, 1]
# print(has_duplicates(my_list))  # Output: True

# my_list = [1, 2, 3, 4, 5]
# print(has_duplicates(my_list))  # Output: False

def has_duplicates(lst):
    # Count the number of items in the original list
    original_length = len(lst)

    # Convert the list to a set, which removes duplicates, and count the items
    set_length = len(set(lst))

    # Compare the lengths. If they are different, there are duplicates
    return original_length != set_length

# Example usage:
my_list = [3,32,22,55,34,55]
print(has_duplicates(my_list))  # Output: True, because 1 is duplicated

my_list = [3,32,22,55,321]
print(has_duplicates(my_list))  # Output: False, because there are no duplicates

True
False

In [ ]:
# Creating a set with duplicate values
my_set = {1, 2, 3, 2, 4, 5, 3, 1}

print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [ ]:
s = "racecar"
t = "carrace"

# test =(set(s,t))
# test= s.union(t)
# print(test)
# len(set(t))

In [ ]:
s = "racecar"
t = "carrace"
test= {}
for i in s:
    print(test.update({i}))

# test= s.union(t)
# print(test)

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [ ]:
def is_rotation(s, t):
    if len(s) != len(t):
        return False
    return t in (s + s)

# Example usage
s = "jar"
t = "jam"
print(is_rotation(s, t))  # Output: True

False